{#
/**
* @file
* Theme overide to display a block.
*
*/
#}
<div class="time-container {{'now'|date('d-m-y-h-i-s')}}">
  <div class="site-location">
    <span>{{"Site Location and Time:"|t}}
    {% if data.country %}
      <span class="country">
        {{'Country: '|t }} {{ data.country }}
      </span>
    {% endif %}
    {% if data.city %}
      <span class="city">
        {{'City: '|t }} {{ data.city }}
      </span>
    {% endif %}
    {% if data.time %}
      <span class="time">
        {{'Time:'|t}} {{ data.time }}
      </span>
    {% endif %}
  </div>
</div>