{#
/**
* @file
* Theme overide to display a block.
*
*/
#}
<div class="time-container">
    <div class="country">
        {{ 'Country -' |t }} {{ data.country }}
    </div>
    <div class="city">
        {{ 'City -' |t }} {{ data.city }}
    </div>
    <div class="time">
    {{ data.time }}
    </div>
</div>